# Entornos virtuales
.venv

# IDEs / Editores
.idea

# Archivos y carpetas de datos / diagramas
0_Diagramas
_Diagramas
data

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de texto generados
arbol.txt
instalado.txt
contexto.md